{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "src/(.*)", "^[./]"],
  "importOrderSortSpecifiers": true
}
